body {
    display: grid;
    /* grid-template-areas: "header header header" "nav article ads" "footer footer footer"; */
    grid-template-areas: "nav header header" "nav article ads" "nav footer ads";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

header,
footer,
article,
nav,
div {
    padding: 20px;
    background: rgb(225, 233, 211);
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}


/* .grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
} */


/* used repeat function */


/* .grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
}

.grid>div {
    font-size: 5vw;
    padding: .5em;
    background: yellow;
    text-align: center;
} */